<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFT Marketplace Template - Demo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/main.min.css">
  </head>

  <body>
    <div class="main-wrapper d-flex flex-column md:expand-nav">

      <header class="main-header content-margin p-0.5">
        <label for="navcheck" class="bar-icon px-0.25 md:px-1"></label>
      </header>
      <main class="content-margin">
      </main>
      {% include "layout/_nav.twig" %}
    </div>
  </body>

</html>
