<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFT Marketplace Template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/main.min.css">
  </head>

  <body class="welcome-page">
    <div class="welcome p-1">
      <h1 class="mb-1">NFT Marketplace Template</h1>

      <nav class="d-flex justify-content-center">
        <a href="demo.html" class="d-inline-flex flex-column align-items-center">
          {% include "welcome/eye.svg" %}
          <span class="mt-0.25">View template</span>
        </a>
        <a href="https://github.com/pts-tpl/nft-marketplace" class="d-inline-flex flex-column align-items-center ml-1">
          {% include "welcome/github.svg" %}
          <span class="mt-0.25">Source code</span>
        </a>
      </nav>

      <small class="d-block mt-2">&copy;2021 <a href="https://github.com/pattisahusiwa">asispts</a></small>
    </div>
  </body>

</html>
