.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    flex: 1;
}

.search-input {
    background-color: #262d3a;
    color: white;
    border: none;
    border-radius: 0.5 * $baseline;
    padding: 0.25 * $baseline $baseline;
    padding-left: 1.5 * $baseline;
    width: 100%;
    outline: none;
    line-height: 1.5;
}

.btn-search {
    position: absolute;
    left: 0.25 * $baseline;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}
