.main-header {
    min-height: 65px;

    border-bottom: 1px solid #32343f;
    display: flex;
    align-items: center;

    @include md-and-up {
        border-color: transparent;
    }
}

.btn-menu {
    display: none;

    @include md-and-up {
        background-color: #3d3f49;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}
