.main-header {
    min-height: 65px;

    border-bottom: 1px solid #32343f;
    display: flex;
    align-items: center;

    @include md-and-up {
        border-color: transparent;
    }
}

.btn-menu {
    display: none;

    @include md-and-up {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        background-color: #3d3f49;
    }
}

.eth {
    padding: 0.25 * $baseline 0.5 * $baseline;
    border-radius: 0.25 * $baseline;
    background-color: #262d3a;
}

.navbar-toggle {
    .eth {
        background-color: lighten($color: #262d3a, $amount: 10);
    }
}
