.main-wrapper {
    min-height: 100vh;
    position: relative;
}

.content-margin {
    @include md-and-up {
        padding-left: $nav-width;
    }
}

.flex-1 {
    flex: 1;
}

.text-gradient {
    background: linear-gradient(103.85deg, #6763fd 5.47%, #f14ea8 96.28%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-light {
    color: white;
}

.text-muted {
    color: #878787;
}

.link-plain {
    &:hover {
        text-decoration: none;
    }
}

.link-white {
    color: white;

    &:hover {
        color: white;
    }
}

.align-content-start {
    align-content: flex-start;
}
