$_nav-bg: #262d3a;

.nav-close {
    cursor: pointer;
    @include md-and-up {
        display: none;
    }
}

.navbar-toggle {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $_nav-bg;

    @include sm-and-up {
        z-index: 1000;
        width: $nav-max-width;
        box-shadow: 8px 0 16px rgba(#000, 0.5);
    }

    @include md-and-up {
        width: $nav-width;
        transition: all 0.25s ease;

        &:hover {
            width: $nav-max-width;

            .brand-text {
                display: inline-block;
            }

            .nav-link {
                justify-content: flex-start;
                padding-left: $baseline;
            }

            .nav-text {
                display: inline-block;
                color: $body-fg;
                white-space: nowrap;
            }
        }
    }
}

.brand {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #3c424e;
}

.brand-icon {
    @at-root a#{&} {
        text-decoration: none;
    }

    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.brand-text {
    @include md-and-up {
        display: none;
    }
}

.mainnav {
    display: flex;
    flex-direction: column;
}

.nav-link {
    display: flex;
    align-items: center;
    border-left: 4px solid transparent;
    padding-top: $baseline;
    padding-bottom: $baseline;
    padding-left: $baseline;

    @include md-and-up {
        padding-left: 0;
        justify-content: center;
    }

    &:hover {
        background-color: lighten($color: $_nav-bg, $amount: 3);
        text-decoration: none;
    }

    &.current {
        border-color: #ab52f3;
        background-color: #3c424e;
    }
}

.nav-text {
    display: inline-block;
    color: $body-fg;

    @include md-and-up {
        display: none;
    }
}
