.side-section {
    background-color: #262d3a;
    border-radius: $baseline;
}

.artist {
    & + & {
        margin-top: 0.5 * $baseline;
    }
}

.btn-follow {
    @extend .h6;

    background: linear-gradient(103.85deg, #6763fd 5.47%, #b84ef1 96.28%);
    border-radius: 8px;
    padding: 0.25 * $baseline 0.5 * $baseline;
    color: white;

    &:hover {
        color: white;
        text-decoration: none;
    }
}

.list-plain {
    list-style: none;
    margin-left: 0;
    padding: 0;

    & > li {
        & + li {
            margin-top: 0.5 * $baseline;
        }
    }
}

.activity-item {
    display: flex;
    padding: 0.25 * $baseline 0.5 * $baseline;
    border-radius: 0.5 * $baseline;

    &.unread {
        background-color: #33314d;
    }

    &:hover {
        background-color: #313744;
    }
}

.unread-mark {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: calc(50% - 4.5px);
        width: 9px;
        height: 9px;
        background-color: #6763fd;
        border-radius: 50%;
    }
}
