.welcome-page {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome {
    background-color: #eceff1;
    color: #263238;
    border-radius: $baseline;
    text-align: center;

    a {
        text-decoration: none;
        color: #c51162;

        &:hover {
            text-decoration: underline;

            svg {
                fill: #607d8b;
            }
        }
    }

    svg {
        fill: #90a4ae;
    }
}
