<section class="side-section p-1">
  <h2 class="h3">Top Artist</h2>
  <div class="mt-1">

    {% for item in artists %}
    <div class="artist d-flex align-items-center">
      <figure class="avatar">
        <img src="{{item.avatar}}" alt="">
      </figure>
      <div class="flex-1 mx-0.5">
        <a href="#" class="d-block link-white h5">{{item.full_name}}</a>
        <small class="h6 text-muted">{{item.username}}</small>
      </div>
      <a href="#" class="btn-follow">Follow</a>
    </div>
    {% endfor %}

  </div>
</section>
