<section class="banner px-1 py-2">
  <h2 class="banner-title">One Stop NFT Marketplace</h2>
  <p class="banner-desc mt-0.5">Discover limited-edition digital artwork<br />Create, Sell, and Collect yours now!</p>
  <footer class="mt-2">
    <a href="#" class="btn banner-btn">
      <span class="text-gradient">Start create</span>
    </a>
    <a href="#" class="btn banner-btn mt-0.5">
      <span class="text-gradient">How it works</span>
    </a>
  </footer>
</section>
