<main class="content-margin grid mt-2">
  <div class="lg:c-7 px-1 lg:pr-0.5">
    {% include "../parts/_banner.twig" %}
  </div>
  <aside class="lg:c-3 px-1 lg:pl-0.5">
    Sidebar
  </aside>
</main>
