<header class="main-header content-margin px-0.5">
  <label for="navcheck" class="bar-icon px-0.25 md:px-1"></label>
  <form method="get" class="search-form mx-0.5">
    <input type="text" name="q" class="search-input" placeholder="Search" autocomplete="off">
    <button type="submit" class="btn-search">
      {% include "../icons/search.svg" %}
    </button>
  </form>
  <a href="#" class="btn-menu mx-0.25">{% include "../icons/message.svg" %}</a>
  <a href="#" class="btn-menu mx-0.25">{% include "../icons/bell.svg" %}</a>
  <a href="#" class="link-plain text-light d-inline-flex align-items-center ml-0.5">
    <figure class="avatar">
      <img src="assets/avatar-3.jpg" alt="">
    </figure>
    <span class="avatar-menu-text ml-0.25">Marvin McKinney</span>
  </a>
</header>
