<header class="main-header content-margin px-0.5">
  <label for="navcheck" class="bar-icon px-0.25 md:px-1"></label>
  <form method="get" class="search-form mx-0.5">
    <input type="text" name="q" class="search-input" placeholder="Search" autocomplete="off">
    <button type="submit" class="btn-search">
      {% include "../icons/search.svg" %}
    </button>
  </form>
</header>
