<header class="main-header content-margin">
  <label for="navcheck" class="bar-icon px-0.25"></label>
  <form method="get" class="search-form mx-0.5 md:ml-1">
    <input type="text" name="q" class="search-input" placeholder="Search" autocomplete="off" required>
    <button type="submit" class="btn-search">
      {% include "../icons/search.svg" %}
    </button>
  </form>
  <div class="eth mx-0.25">
    {% include "../icons/ethereum.svg" %}
    <span>543,694,489 ETH</span>
  </div>
  <a href="#" class="btn-menu mx-0.25">{% include "../icons/message.svg" %}</a>
  <a href="#" class="btn-menu mx-0.25">{% include "../icons/bell.svg" %}</a>
  <a href="#" class="link-white text-light d-inline-flex align-items-center mx-0.5 md:mr-1">
    <figure class="avatar">
      <img src="assets/avatar-3.jpg" alt="">
    </figure>
    <span class="avatar-menu-text ml-0.25">Marvin McKinney</span>
  </a>
</header>
