<header class="mainnav-wrapper">
  <h1 class="brand">
    {% include "../icons/ethereum-solid.svg" %}
    <span class="brand-text ml-0.5 text-gradient">CuanMakers</span>
  </h1>
  <nav class="mainnav">
    <a href="#" class="nav-link current">
      {% include "../icons/dashboard.svg" %}
      <span class="nav-text ml-1">Dashboard</span>
    </a>
    <a href="#" class="nav-link">
      {% include "../icons/activity.svg" %}
      <span class="nav-text ml-1">Activity</span>
    </a>
    <a href="#" class="nav-link">
      {% include "../icons/transaction.svg" %}
      <span class="nav-text ml-1">Transaction</span>
    </a>
    <a href="#" class="nav-link">
      {% include "../icons/collection.svg" %}
      <span class="nav-text ml-1">My Collection</span>
    </a>
    <a href="#" class="nav-link">
      {% include "../icons/setting.svg" %}
      <span class="nav-text ml-1">Setting</span>
    </a>
  </nav>
</header>
