<input type="checkbox" id="navcheck">
<div class="navbar-toggle">
  <div class="brand p-0.5">
    <label for="navcheck" class="nav-close mr-1">
      {% include "../icons/times.svg" %}
    </label>
    <a href="index.html" class="brand-icon">
      {% include "../icons/ethereum-solid.svg" %}
      <h1 class="brand-text h3 ml-0.5 text-gradient">CuanMakers</h1>
    </a>
  </div>
  <nav class="mainnav md:mt-1">
    <a href="#" class="nav-link current">
      {% include "../icons/dashboard.svg" %}
      <span class="nav-text ml-1">Dashboard</span>
    </a>
    <a href="#" class="nav-link">
      {% include "../icons/activity.svg" %}
      <span class="nav-text ml-1">Activity</span>
    </a>
    <a href="#" class="nav-link">
      {% include "../icons/transaction.svg" %}
      <span class="nav-text ml-1">Transaction</span>
    </a>
    <a href="#" class="nav-link">
      {% include "../icons/collection.svg" %}
      <span class="nav-text ml-1">My Collection</span>
    </a>
    <a href="#" class="nav-link">
      {% include "../icons/setting.svg" %}
      <span class="nav-text ml-1">Setting</span>
    </a>
  </nav>
</div>
