$body-font-family: "Poppins", sans-serif;
$bold: 600;
$column-gutter: 0;
$boxed-width: 1440px;

$body-bg: #1b1e2a;
$body-fg: #ffffff;

$link-decoration: none;
$link-hover-decoration: underline;

$nav-width: 122px;
